{% extends 'm.base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('app_mobile') }}
{% endblock %}

{% block body %}

    <section>

        <div class="breadcrumb">
            <a class="image" href="/">
                <img src="/images/arrow_navigate.png">
            </a>
            <span>Гарантія</span>
        </div>

        <div class="warranty">
            <h3>Умови гарантійного обслуговування</h3>
            <h4>Повернення</h4>
            <p>Відповідно до Закону України «Про захист прав споживачів» Обмін і повернення товару відбувається протягом 14 днів , не рахуючи дня покупки. Днем покупки вважається дата, зазначена на товарному чеку (тобто дата отримання товару при самовивозі або дата передання Нами товару до курє'рської служби, зазначення в ТТН). Якщо Ви одержали товар неналежної якості, Ви маєте право скористатися положеннями ст. 8 Закону України про захист прав споживачів щодо недоліків товару, якщо вони виявлені протягом гарантійного терміну або терміну придатності.</p>
            <h4>Правила гарантійного обслуговування</h4>
            <p>Гарантія передбачає безкоштовний ремонт чи заміну запчастин, що комплектують протягом гарантійного терміну.</p>
            <p>Продукція, до комплекту якої входить фірмовий гарантійний талон, ремонтується лише у мережі авторизованих сервісних центрів (АСЦ).</p>
            <p>На час обслуговування безкоштовна заміна не надається.</p>
            <h4>Гарантійні зобов'язання не поширюються</h4>
            <ul>
                <li>на програмні продукти, що постачаються разом із виробом та інформацію користувача;</li>
                <li>на вироби, які були відремонтовані не у сервісних центрах;</li>
                <li>на кабелі, навушники, зарядні уст-ва, елементи живлення та інше, що поставляються разом із основним виробом;</li>
                <li>на сполучні кабелі, антени, заглушки, елементи фурнітури;</li>
                <li>на зовнішні порти COM, LPT, USB, LAN (RJ45), PS/2, HDMI, відеоаудіо входи та виходи.</li>
            </ul>
            <h4>Безкоштовне сервісне обслуговування виробу не здійснюється у таких випадках:</h4>
            <ul>
                <li>у разі порушення правил та умов експлуатації (у тому числі багатогодинне (більше 10 годин на добу) використання виробів для цього не призначених, наприклад, у "фермах" для майнінгу криптовалют), викладених у Посібнику користувача або іншої документації доступної на загальнодоступних інтернет ресурсах, встановлення виробу;</li>
                <li>якщо пошкоджені гарантійні пломби та/або стікери;</li>
                <li>якщо виявлено механічні ушкодження, термічні ушкодження, ушкодження, спричинені впливом вологи, високих або низьких температур, корозією, окисленням, потраплянням всередину виробу сторонніх предметів, речовин, рідин, комах чи тварин, великої кількості пилу чи інших забруднень;</li>
                <li>якщо пошкодження викликані впливом комп'ютерних вірусів, модифікації та/або переустановки попередньо встановленого програмного забезпечення, встановлення та використання програмного забезпечення третіх виробників.</li>
                <li>відсутня оригінальна упаковка товару!</li>
            </ul>
        </div>

    </section>

{% endblock %}
