<select id="RozetkaProduct_values_{{ valueId }}_values" name="RozetkaProduct[values][{{ valueId }}][values][]" class="rozetka-characteristics-values form-select" multiple="multiple">
    {% for value in values %}
        <option value="{{ value.id }}">{{ value.value }}</option>
    {% endfor %}
</select>
