{% extends "base.html.twig" %}

{% block javascripts %}
    {{ encore_entry_script_tags('category') }}
    {{ encore_entry_script_tags('home') }}
    {{ encore_entry_script_tags('cart') }}
{% endblock %}

{% block body %}

    <header>
        {% include 'partials/header.html.twig' %}
    </header>

    <section class="category">
        <div class="category-title">Про нас</div>

        <div class="breadcrumb">
            <a href="/">Головна</a> <span>/</span> <a href="" class="selected">Про нас</a>
        </div>

        <div class="about-us">
            <p>
                Інтернет-магазин електротехніки <span>x-media.com.ua</span>.
                Ми онлайн магазин і ми допоможемо Вам підібрати телевізор, ноутбук або іншу техніку для дому чи офісу, для роботи або відпочинку.
                Ми працюємо тільки з якісним товаром з Європи, тому якість і чесність гарантована.
                Якість кожного продукту ми самі особисто ретельно перевіряємо. Тому за це можна не хвилюватись.
                Також наші спеціалісти зможуть порадити чи допомогти у виборі того чи іншого товару.
            </p>

            <p>
                В нас дуже широкий вибір товарів.
            </p>


            <p>
                Ми продаємо лише офіційний та сертифікований продукт із гарантією та сервісною підтримкою в Україні!
                Щоб обрати та купити електроніку перейдіть у необхідний розділ нашого каталогу або скористайтеся пошуком.
            </p>

            <p>
                Для отримання консультації скористайтеся номером: <b>+38 (096) 817 38 30</b>
            </p>

            <p>Ми будемо щиро раді кожному з Вас :)</p>

            <p id="logo">X-media</p>
        </div>
    </section>

{% endblock %}
