security:
    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            custom_authenticators:
                - App\Security\AdminAuthenticator
            logout:
                path: app_logout
                target: app_login

    password_hashers:
        App\Entity\AdminUser:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\AdminUser
                property: email

    access_control:
        - { path: ^/admin/login, roles: PUBLIC_ACCESS }
        - { path: ^/admin, roles: [ROLE_ADMIN, ROLE_USER, ROLE_SUPER_ADMIN] }
        - { path: ^/admin, roles: [ROLE_SUPER_ADMIN, ROLE_ADMIN, ROLE_USER] }

    role_hierarchy:
        ROLE_ADMIN: ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN
