<footer>
    <div>
        <p class="title">Корисна інформація:</p>
        <div class="items">
            <a href="/delivery-and-pay">Доставка та оплата</a>
            <a href="">Гарантія</a>
            <a href="/feedbacks">Відгуки про магазин</a>
            <a href="/about-us">Про нас</a>
            <a href="/">Контакти</a>
        </div>
    </div>
    <div>
        <p class="title">Контакти:</p>
        <div class="items">
            {% for email in emails %}
                <p><img src="/images/email.png"> {{ email.getValue() }}</p>
            {% endfor %}
            {% for phone in phoneNumbers %}
                <p><img src="/images/phone.png"> {{ phone.getValue() }}</p>
            {% endfor %}
            <br>
        </div>
    </div>
    <div>
        {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
        <a href="{{ currentPath }}?page-type=mobile" id="switch-version"><img src="/images/phone_version.png"><span>Мобільна версія</span></a>
    </div>
    <p class="copywrite">&#169; X-media {{ 'now' | date('Y') }}</p>
</footer>
