<footer>
    <div class="col">
        <p class="title">Корисна інформація:</p>
        <div class="items">
            <a href="">Новинки</a>
            <a href="">Оплата і доставка</a>
        </div>
    </div>
    <div class="col">
        <p class="title">Контакти:</p>
        <div class="items">
            {% for email in emails %}
                <p><img src="/images/email.png"> {{ email.getValue() }}</p>
            {% endfor %}
            {% for phone in phoneNumbers %}
                <p><img src="/images/phone.png"> {{ phone.getValue() }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="col">
        <a href="/" class="logo">X-media</a>
    </div>
    <p class="copywrite">&#169; X-media {{ 'now' | date('Y') }}</p>
</footer>