<div id="menu">
    <div id="logo"><a href="/">X-media</a></div>
    <div id="categories">
        <ul>
            {% for category in categories %}
                <li>
                    <a href="/categories/{{ category.slug }}">{{ category.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="search">
        <form action="/search" method="GET">
            <input type="text" name="search" autocomplete="off" value="{% if searchString is defined %}{{ searchString }}{% endif %}">
            <button type="submit"><img src="/images/search.svg" /></button>
        </form>
    </div>
    <div id="cart">
        <img src="/images/cart_active.png">
        <div id="cart-count" {% if totalCount > 0 %}style="display: block"{% endif %}/>
            {% if totalCount > 0 %}
                {{ totalCount }}
            {% endif %}
        </div>
    </div>
</div>