{% extends 'm.base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('update_password') }}
    {{ encore_entry_script_tags('app_mobile') }}
{% endblock %}

{% block body %}

    <section>

        <div class="breadcrumb">
            <a class="image" href="/login">
                <img src="/images/arrow_navigate.png">
            </a>
            <span>Зміна паролю</span>
        </div>

        <form method="POST" action="/update-password" id="update-password">
            <div class="password">
                <p>Пароль:</p>
                <input type="password" name="password" autocomplete="off" required>
                <p class="error"></p>
            </div>

            <div class="password2">
                <p>Повторіть пароль:</p>
                <input type="password" name="password2" autocomplete="off" required>
                <p class="error"></p>
            </div>

            <div>
                <input class="green-button" type="submit" value="Оновити">
            </div>
        </form>
    </section>

{% endblock %}
