{% extends 'm.base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('feedback') }}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('app_mobile') }}
{% endblock %}

{% block body %}

    <section>
        <div class="breadcrumb">
            <a class="image" href="/">
                <img src="/images/arrow_navigate.png">
            </a>
            <span>Відгуки про магазин</span>
        </div>

        <div class="feedbacks">
            <form method="post" id="add-feedback" class="add-comment">
                <div class="inner">
                    <p>Залишити відгук про магазин:</p>
                    <label>
                        <span class="field">Ім'я:<span class="required">*</span></span>
                        <input type="text" name="author" id="author">
                    </label>
                    <label>
                        <span class="field">Email:</span>
                        <input type="text" name="email" id="email">
                    </label>
                    <label>
                        <span class="field">Коментар:<span class="required">*</span></span>
                        <textarea name="text" id="comment"></textarea>
                    </label>
                </div>
                <div class="send-btn-block">
                    <input class="green-button" type="submit" value="Відправити">
                </div>
            </form>

            <div id="feedback-popup">
                <div>
                    Дякуємо за відгук!<br>Відправлено на опрацювання модератором
                    <input id="close-feedback-popup" class="green-button" value="Зрозуміло">
                </div>
            </div>

            <div class="feedback-title">Відгуки про магазин</div>

            {% for comment in pagination %}
                <div class="comment">
                    {% include 'partials/comment.html.twig' %}
                </div>
            {% endfor %}

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </section>

{% endblock %}
