{% extends "base.html.twig" %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
    {{ encore_entry_script_tags('cart') }}
{% endblock %}

{% block body %}

    <header>
        {% include 'partials/header.html.twig' %}
    </header>

    <section class="category">
        <div class="category-title">Доставка та оплата</div>

        <div class="breadcrumb">
            <a href="/">Головна</a>
            <span>/</span>
            <a href="" class="selected">Доставка та оплата</a>
        </div>

        <div class="delivery-pay">
            <p class="title">Варіанти доставки</p>
            <div class="delivery">
                <h3>Нова пошта</h3><br>
                <p>За допомогою служби доставки Нова Пошта, Ви можете отримати товар по всій Україні.</p><br />
                <p>В середньому доставка триває 1-3 дні з дня відправки товару.</p><br />
                <p>При отриманні обов'язково перевіряйте укомплектованість товару в замовленні а також його зовнішній вигляд.
                    У випадку якщо товар пошкоджений, чи не повністю укомплектований - необхідно відмовитись від отримання
                    товару і його оплати, а також скласти акт і сповістити нам по тел: +380968642188.</p>
            </div>
            <div class="delivery">
                <h3>Доставка за адресою(м.Київ)</h3><br>
                <p>Доставка відбувається на наступний день після появи товару на складі.</p><br />
                <p>Доставка відбувається до входу в будинок, адресу якого ви вказали.</p><br />
                <p>При отриманні товару обов'язково перевіряйте укомплектованість і зовнішній вигляд.</p>
            </div>
        </div>

        <div class="delivery-pay">
            <p class="title">Варіанти оплати</p>
            <div class="pay">
                <h3>Готівкою</h3>
                <p>Ви можете здійснити оплату одразу при отриманні замовлення.</p>
            </div>
            <div class="pay">
                <h3>Переказ коштів на рахунок</h3>
                <p>Ви можете здійснити оплату замовлення переказавши кошти на відповідний рахунок.</p><br>
                <p>Доставка відбуватиметься після надходження коштів на рахунок.</p>
            </div>
        </div>
    </section>

{% endblock %}
