{# templates/CRUD/list__action_clone.html.twig #}

<a class="btn btn-sm btn-default clone_link" href="{{ admin.generateObjectUrl('clone', object) }}">
    <i class="fa fa-copy" aria-hidden="true"></i>
    Duplicate
</a>
