body, html {
    padding: 0;
    margin: 0;
    font-family: "Gill Sans", sans-serif;
}

.button {
    color: #000;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    padding: 15px 40px;
    text-decoration: none;
    font-size: 18px;
}

.button:hover {
    background-color: rgba(255, 255, 255, .6);
}

#slider .item {
    position: relative;
}

#slider .item .background img {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    min-width: 320px;
    object-fit: cover;
}

#slider .item .link {
    position: absolute;
    right: 60px;
    bottom: 60px;
}

#slider .slick-dots {
    bottom: 30px;
}

#slider .slick-dots li button:before {
    font-size: 12px;
}

#menu {
    position: absolute;
    top: 30%;
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}

#menu #logo a {
    font-size: 30px;
    color: #000;
    text-decoration: none;
}

#menu #categories ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

#menu #categories ul li a {
    text-decoration: none;
    color: #000;
    padding: 5px 15px;
    font-size: 20px;
}

#menu #categories ul li a:hover {
    text-decoration: underline;
}

#menu #search {
    position: relative;
}

#menu #search input {
    outline: none;
    width: 200px;
    height: 25px;
}

#menu #search button {
    border: none;
    position: absolute;
    right: 2px;
    top: 1px;
}

#menu #search img {
    width: 24px;
}

section {
    padding: 20px 0;
}

section .title {
    font-size: 25px;
    text-align: center;
}

.product {
    padding: 10px;
    box-sizing: border-box;
}

.product .inner {
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}

.product img {
    width: 100%;
    height: 250px;
    max-height: 250px;
    object-fit: contain;
}

.product .product-title {
    height: 40px;
    overflow: hidden;
}

.product .product-title a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.product .product-title a:hover {
    text-decoration: underline;
}

.product .price {
    width: 50%;
    color: #00e765;
    font-size: 18px;
    margin-top: 20px;
}