body, html {
    padding: 0;
    margin: 0;
    font-family: "Gill Sans", sans-serif;
}

.button {
    color: #000;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    padding: 15px 40px;
    text-decoration: none;
    font-size: 18px;
}

.button:hover {
    background-color: rgba(255, 255, 255, .6);
}

#slider .item {
    position: relative;
}

#slider .item .background img {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    min-width: 320px;
    object-fit: cover;
}

#slider .item .link {
    position: absolute;
    right: 60px;
    bottom: 60px;
}

#slider .slick-dots {
    bottom: 30px;
}

#slider .slick-dots li button:before {
    font-size: 12px;
}

.home-page #menu {
    position: absolute;
    top: 10%;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}

header {
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    padding: 20px 0;
}

#menu {
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

#menu #logo a {
    font-size: 30px;
    color: #000;
    text-decoration: none;
}

#menu #categories ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

#menu #categories ul li a {
    text-decoration: none;
    color: #000;
    padding: 5px 15px;
    font-size: 20px;
}

#menu #categories ul li a:hover {
    text-decoration: underline;
}

#menu #search {
    position: relative;
}

#menu #search input {
    outline: none;
    width: 200px;
    height: 25px;
}

#menu #search button {
    border: none;
    position: absolute;
    right: 1px;
    top: 1px;
    cursor: pointer;
    height: 29px;
    background-color: #fff;
}

#menu #search img {
    width: 27px;
}

#menu #cart {
    position: relative;
}

#menu #cart-count {
    background-color: #00e765;
    padding: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

#menu #cart img {
    width: 30px;
    cursor: pointer;
}

section {
    padding: 20px 0;
}

section .title {
    font-size: 25px;
    text-align: center;
}

.product {
    padding: 10px;
    box-sizing: border-box;
}

.product .inner {
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    display: flex;
    flex-wrap: wrap;
}

.product .product-image {
    width: 100%;
}

.product img {
    width: 100%;
    height: 250px;
    max-height: 250px;
    object-fit: contain;
}

.product .product-title {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    overflow: hidden;
}

.product .filter-attributes {
    width: 100%;
    height: 30px;
    font-size: 12px;
    color: #aaa;
}

.product .product-title a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.product .product-title a:hover {
    text-decoration: underline;
}

.product .price {
    width: 50%;
    color: #00e765;
    font-size: 18px;
    margin-top: 20px;
    float: left;
}

.product .add2cart {
    margin-top: 10px;
    width: 50%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.product .add2cart img {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.category {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.category .category-title {
    font-size: 24px;
}

.category .breadcrumb {
    margin-top: 30px;
    display: flex;
}

.category .breadcrumb a {
    color: #000;
    text-decoration: none;
    margin-right: 10px;
}

.category .breadcrumb a.selected {
    margin-left: 10px;
    font-weight: bold;
}

.category .breadcrumb a:hover {
    text-decoration: underline;
}

.category #filters {
    width: 300px;
    float: left;
    margin-bottom: 30px;
}

.category #filters .filter-title {
    font-weight: bold;
}

.category #filters .filter {
    margin-top: 40px;
}

.category #filters .filter .outer {
    overflow: hidden;
    width: 250px;
    padding: 5px;
    border: 1px solid #eee;
}

.category #filters .filter .inner {
    height: 100%;
    overflow-y: auto;
    position: relative;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .4);
}

.category #products {
    width: calc(100% - 300px);
    float: left;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 40px;
}

.category #products .order-by {
    text-align: end;
}

.category #products .order-by select {
    border: 1px solid #ccc;
    border-radius: 0;
    height: 30px;
    padding: 0 10px;
    font-family: "Gill Sans", sans-serif;
    outline: none;
}

.category #products .loader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, .7);
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/public/images/loader.gif');
}

.category #products .product {
    width: 33%;
    float: left;
}

.category #products .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.category #products .navigation span {
    padding: 5px;
}

.category #products .navigation span.current {
    font-weight: bold;
}

.category #products .navigation span a {
    text-decoration: none;
    color: dimgray;
}

.category #products .navigation span a:hover {
    text-decoration: underline;
}

.filter .price-filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filter .price-filter input {
    width: 50px;
    height: 25px;
    padding: 0 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
    outline: none;
}

.filter .price-filter span {
    margin-right: 10px;
}

.container {
    display: flex;
    position: relative;
    padding-left: 35px;
    align-items: center;
    height: 23px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container:last-of-type {
    margin-bottom: 0;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #000;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.not-found {
    text-align: center;
}

.not-found img {
    width: 200px;
    height: auto;
    margin-top: 50px;
}

.product-page .images {
    float: left;
    margin-top: 50px;
    width: 70%;
    height: 500px;
    margin-right: 5%;
}

.product-page .images .list {
    width: 150px;
    height: 500px;
    float: left;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}

.product-page .images .list img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.product-page .images .list img.active {
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}

.product-page .images .main {
    width: calc(100% - 150px);
    float: left;
}

.product-page .images .main img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.product-page .detail {
    width: 25%;
    float: left;
    margin-top: 50px;
}

.product-page .detail .attributes {
    padding: 20px;
    box-sizing: border-box;
    background-color: #eee;
}

.product-page .detail .title {
    font-weight: bold;
}

.product-page .detail .title, .product-page .detail .value {
    font-size: 12px;
}

.product-page .detail .attribute {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    line-height: 2;
}

.product-page .detail .price {
    color: #00e765;
    font-size: 25px;
    text-align: right;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-page .detail .add2cart {
    display: flex;
    justify-content: flex-end;
}

.product-page .detail .add2cart img {
    width: 40px;
    cursor: pointer;
}

.product-page .description {
    width: 100%;
    clear: both;
    font-size: 18px;
    padding-top: 50px;
    line-height: 2;
}

#cart-popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    top: 0;
    left: 0;
    display: none;
}

#cart-popup #cart-block {
    background-color: #fff;
    width: 60%;
    margin: 10% auto 0;
    height: auto;
    padding: 15px;
}

#cart-popup #cart-block #close-cart {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#cart-popup #cart-block #close-cart img {
    width: 20px;
    cursor: pointer;
}

#cart-popup #cart-block table {
    width: 100%;
}

#cart-popup #cart-block table td {
    padding: 15px 5px;
}

#cart-popup #cart-block table td input {
    width: 30px;
    text-align: center;
    border-radius: unset;
    border: 1px solid #ccc;
    padding: 3px;
    outline: none;
}

#cart-popup #cart-block table td img {
    width: 20px;
    cursor: pointer;
}

#cart-popup #go-to-order {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#cart-popup #go-to-order a {
    color: #fff;
    text-decoration: none;
    background-color: #00e765;
    padding: 5px 15px;
}

#cart-popup #go-to-order a:hover {
    text-decoration: underline;
}

#cart-block p {
    text-align: center;
}

.order-place {
    width: 40%;
    margin: 0 auto;
}

.order-place input, .order-place select, .order-place textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none;
    outline: none;
}

.order-place .required {
    color: #ff0000;
}

.order-place input[type=submit] {
    background-color: #00e765;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.order-place .total-price {
    font-size: 16px;
    font-weight: bold;
}

.order-place .total-price span {
    color: #00e765;
}

.order-detail {
    width: 40%;
    margin: 50px auto 0;
}

.order-detail .products td {
    padding: 10px;
}

.order-detail .products td a {
    color: #000;
    text-decoration: none;
}

.order-detail .products td a:hover {
    text-decoration: underline;
}

.order-detail p span {
    font-weight: bold;
    color: #00e765;
}

.order-detail .products img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.order-detail .thanks {
    text-align: center;
    margin-bottom: 30px;
}

footer {
    width: 100%;
    margin: 20px 0 0;
    padding: 20px 20% 0px;
    box-sizing: border-box;
    background-color: #eeeeee;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 12px;
}

footer .title {
    font-weight: bold;
}

footer .logo {
    font-size: 40px;
    color: #000000;
    text-decoration: none;
    display: block;
    margin-top: 40px;
}

footer .items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer .items p img {
    width: 15px;
    height: auto;
    margin-right: 10px;
}

footer .items p, footer .items a {
    line-height: 18px;
    color: #000;
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}

footer .items a {
    text-decoration: none;
}

footer .items a:hover {
    text-decoration: underline;
}

footer .copywrite {
    width: 100%;
    text-align: center;
}