{% extends 'm.base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('app_mobile') }}
{% endblock %}

{% block body %}
    <p>delivery and page mobile</p>

{% endblock %}
