{% extends 'm.base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('app_mobile') }}
{% endblock %}

{% block body %}

<section>

    <div class="breadcrumb">
        <a class="image" href="/">
            <img src="/images/arrow_navigate.png">
        </a>
        <span>Доставка та оплата</span>
    </div>

    <div class="delivery-pay">
        <h4 class="title">Варіанти доставки</h4>
        <h3>Нова пошта</h3>
        <div class="image">
            <img src="/images/nova_poshta.png" />
        </div>
        <p>За допомогою служби доставки Нова Пошта, Ви можете отримати товар по всій Україні.</p>
        <p>В середньому доставка триває 1-3 дні з дня відправки товару.</p>
        <p>При отриманні обов'язково перевіряйте укомплектованість товару в замовленні а також його зовнішній вигляд.
            У випадку якщо товар пошкоджений, чи не повністю укомплектований - необхідно відмовитись від отримання
            товару і його оплати, а також скласти акт і сповістити нам по тел: <a class="no-link-style" href="tel:"><span>{{ phoneNumber.getValue() }}</span></a>.</p>
        <h3>Доставка за адресою(м.Київ)</h3>
        <div class="image">
            <img src="/images/our_delivery.png" />
        </div>
        <p>Доставка відбувається на наступний день після появи товару на складі.</p>
        <p>Доставка відбувається до входу в будинок, адресу якого ви вказали.</p>
        <p>При отриманні товару обов'язково перевіряйте укомплектованість і зовнішній вигляд.</p>
        <h4 class="title">Варіанти оплати</h4>
        <h3>Готівкою</h3>
        <div class="image">
            <img src="/images/cash.png">
        </div>
        <p>Ви можете здійснити оплату одразу при отриманні замовлення.</p>
        <h3>Переказ коштів на рахунок</h3>
        <div class="image">
            <img src="/images/card.png">
        </div>
        <p>Ви можете здійснити оплату замовлення переказавши кошти на відповідний рахунок.</p>
        <p>Доставка відбуватиметься після надходження коштів на рахунок.</p>
    </div>
</section>

{% endblock %}
