{% extends 'm.base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_mobile') }}
{% endblock %}

{% block body %}
    <section class="not-found">
        <h2>Not found page</h2>
        <img src="/images/not-found.png">
    </section>
{% endblock %}
