<div>
    <p>Для підтвердження свого email перейдіть за посиланням <a href="{{ link }}">посиланням</a></p>

    <p>Якщо посилання не працює, тоді скопіюйте його і вставте у пошукову строку браузера<br>
        {{ link }}
    </p>

    <p>Посилання діє 60 хвилин</p>
</div>
