<div>
    <p>Для відновлення паролю перейдіть за <a href="https://{{ link }}">посиланням</a></p>

    <p>Якщо посилання не працює, тоді скопіюйте його і вставте у пошук браузера<br>
    https://{{ link }}
    </p>

    <p>Посилання діє 60 хвилин</p>
</div>
