{% extends 'm.base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('login') }}
    {{ encore_entry_script_tags('app_mobile') }}
{% endblock %}

{% block body %}

<section>
    <div class="breadcrumb">
        <a>X-media</a>
        <span> > </span>
        <a href="/">Головна</a>
        <span> > </span>
        <a class="selected">Вхід</a>
    </div>

    <form method="POST" action="/log-in" id="login">
        <div class="email">
            <p>Логін (email):</p>
            <input type="text" name="email" autocomplete="off" required>
            <p class="error"></p>
        </div>
        <div class="password">
            <p>Пароль:</p>
            <input type="password" name="password" autocomplete="off" required>
            <p class="error"></p>
        </div>

        <p>Немає аккаунту? <a href="/sign-up" class="green">Зареєструватися</a></p>

        <p>Забули пароль? <a href="/restore-password" class="green">Відновити пароль</a></p>

        <div>
            <input class="green-button" type="submit" value="Вхід">
        </div>
    </form>
</section>

{% endblock %}
