{% extends 'm.base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('app_mobile') }}
{% endblock %}

{% block body %}

    <div class="breadcrumb">
        <a class="image" href="/">
            <img src="/images/arrow_navigate.png">
        </a>
        <span>Пошук за запитом "{{ searchString }}"</span>
    </div>

    <div id="products-block">
        {% if pagination|length == 0 %}
            <br><br>
            <p>
                За вашим запитом товари не знайдено.<br> Не хвилюйтеся, перевірте Ваш запит або
                перегляньте наші популярні категорії або зв'яжіться з нами для додаткової допомоги!
            </p>
        {% else %}
            {% include 'm/partials/product-list.html.twig' %}
        {% endif %}
    </div>

{% endblock %}
