{% extends 'm.base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('app_mobile') }}
{% endblock %}

{% block body %}

    <div class="breadcrumb">
        <a class="image" href="/">
            <img src="/images/arrow_navigate.png">
        </a>
        <span>Пошук за запитом "{{ searchString }}"</span>
    </div>

    <div id="products-block">
        {% include 'm/partials/product-list.html.twig' %}
    </div>

{% endblock %}
