<footer>
    <div>
        <p class="title">Корисна інформація:</p>
        <div class="items">
            <p><a href="">Новинки</a></p>
            <p><a href="/delivery-and-pay">Доставка та оплата</a></p>
            <p><a href="/about-us">Про нас</a></p>
            <p><a href="/feedbacks">Відгуки про магазин</a></p>
        </div>
    </div>
    <div>
        <p class="title">Контакти:</p>
        <div class="items">
            <div>
                <p><img src="/images/email.png"> {{ email.getValue() }}</p>
                <p><img src="/images/phone.png"> {{ phoneNumber.getValue() }}</p>
            </div>
            <br>
            <p>
                <a href="viber://chat?number=380968642188">
                    <img src="/images/viber.png">
                </a>
                <a href="tg://resolve?domain=lionpion4ik">
                    <img src="/images/telegram.png">
                </a>
                <a href="">
                    <img src="/images/instagram.png">
                </a>
            </p>
        </div>
    </div>
    <p class="copywrite">&#169; X-media {{ 'now' | date('Y') }}</p>
</footer>
