{% extends 'base.html.twig' %}

{% block body %}
    <header>
        {% include 'partials/header.html.twig' %}
    </header>

    <section class="not-found">
        <h2>Not found page</h2>
        <img src="/images/not-found.png">
    </section>
{% endblock %}