{% extends 'm.base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('app_mobile') }}
{% endblock %}

{% block body %}

<section>
    <div class="breadcrumb">
        <a>X-media</a>
        <span> > </span>
        <a href="/">Головна</a>
        <span> > </span>
        <a class="selected">Про нас</a>
    </div>

    <div class="about-us">
        <h4>Інтернет-магазин електротехніки x-media.com.ua</h4>
        <p>
            Ми онлайн магазин і ми допоможемо Вам підібрати телевізор, ноутбук або іншу техніку для дому чи офісу, для роботи або відпочинку.
            Ми працюємо тільки з якісним товаром з Європи, тому якість та чесність гарантована.
            Якість кожного продукту ми самі особисто ретельно перевіряємо. Тому за це можна не хвилюватись.
            Також наші спеціалісти зможуть порадити чи допомогти у виборі того чи іншого товару.
        </p>

        <h4>Широкий вибір товарів</h4>
        <p>
            У нас понад 100 позицій у кожній категорії товарів.
            Для швидкого пошуку є зручний фільтр, а також детальні характеристики кожного продукту.
            Тому Вам буде дуже легко орієнтуватись у нас на сайті, а також дізнаватись детальну інформацію про той чи інший товар стало ще комфортніше.
        </p>

        <h4>Ми пропонуєм тільки офіційний і сертифікований товар з гарантією і сервісною підтримкою в Україні</h4>
        <p>
            Для того щоб замовити товар просто додайте його в корзину перейдіть на сторінку оформлення натиснувши на іконку корзини заповніть основні поля і ваше замовлення готове.
            Доставка здійснюється через служби доставки в будь-який куточок України.
        </p>

        <p>Також ви можете зробити замовлення за телефоном: {{ phone.getValue() }} </p>

        <p>Отримати консультацію можна за email: {{ email.getValue() }} </p>

        <h4>Ми будемо щиро раді кожному з Вас :)</h4>
    </div>
</section>

{% endblock %}
